@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*, *:after, *:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.shadowDiv {
  padding: 20px 40px;
  border-radius: 100px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.7);
}